server:
  port: 8080

spring:
  application:
    name: hotel

  mongodb:
    uri: ${SPRING_DATA_MONGODB_URI:mongodb://hotel_user:hotel_pass@localhost:27017/hotel?authSource=hotel}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
      group-id: availability-search-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JacksonJsonDeserializer
      properties:
        spring.json.trusted.packages: '*'

logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
